@{
    ViewData["Title"] = "Sobre o Desenvolvedor";
}

<h1 class="text-center display-4 mb-3">Sobre Mim</h1>
<div class="row text-center justify-content-center">

    <div class="col-12 col-md-4 mb-4">
        <div class="card shadow-sm h-100">
            <img src="~/img/julia.jpeg" alt="Foto do Perfil" class="card-img-top img-fluid" />
            <div class="card-body">
                <h5 class="card-title">Julia</h5>
                <p class="card-text text-muted">
                    Olá! Meu nome é Julia Parreira. Sou estudante e gosto de ler, viajar.. e adoro animais.
                    Estou sempre em busca de aprender coisas novas. Meu objetivo é transformar ideias
                    em soluções criativas e funcionais.
                </p>
            </div>
        </div>
    </div>
</div>
